*{
    margin: 0;
    padding: 0;
}

body{
    color: #969281;
}

h1{
    font-family: 'Dancing Script', cursive;

}


/* Nav section start */

a{
    text-decoration: none;
    color: currentColor;
}

a:hover{

    color: currentColor;
}

header{

    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}

header .container-fluid{

    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:992px){

    header .container-fluid{

        padding: 0 5%;
    }
}

/* header .navb-logo img{

    width: 140px;
    height: 66px;
} */

header .navb-items{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* letter-spacing: 3px; */
}

header .item{
    text-align: center;
    margin-inline: 15%;
    font-size: 20px;
    /* letter-spacing: 3px; */
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top: 0px solid #64d6f4;
    cursor: pointer;
}

header .item:hover{

    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}

header .item-button a{
    background-color: #3C2A21;
    width: 150px;
    height: 50px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all .5s ease;
}

header .item-button a:hover{
    background-color: #f3933f;
    
}

header .mobile-toggler{

    font-size: 30px;
}

/* modal */

.modal-dialog{
    margin: 0;
    width: 430px;
}

@media(max-width: 450px){

    .modal-dialog{

        width: 82%;
    }
}

.modal-content{
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    /* background-color: #102447; */
    background-color: #252a33;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #fefefe;
}


.modal-header .btn-close{
    background: transparent;
    opacity: 1;
}

.modal-header i{
    color: #fefefe;
    font-size: 30px;
}

.modal-body{
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

.modal-body .modal-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color: #274d8a;
    border-bottom: 1px solid #274d8a;
}

.modal-body .modal-line:hover{
    color: #fefefe;
    border-bottom: 1px solid #fefefe;
}

.modal-line a{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #fefefe;
}

.modal-line i{
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-button{
    width: 100%;
    height: 47px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #274d8a;
    letter-spacing: 2px;
    transition: all .5s ease;
}

.navb-button:hover{
    background-color: #274d8a;
    color: #fefefe;
}

.mobile-modal-footer{
    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    /* color: #274d8a; */
    color: #e0e4eb;
}

.mobile-modal-footer i:hover{
    color: #fefefe;
}



.section-1{
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 p{
    font-size: 75px;
    font-weight: 700;
    color: #102447;
    width: 90%;
    text-align: center;
}

@media(max-width:767px){

    .section-1 p{
        font-size: 50px;
        text-align: start;
        width: 70%;
        margin: auto;
    }
}

/* Nav section end */


#uni-hr{
    border: 1px solid gray;
}


/* carousel start */

.carousel-item > img{
    height: 80vh;
    object-fit: cover;
}


.cr-p{
    font-size: 18px;
}

@media screen and (max-width: 576px){
    #md-h1{
        text-align: center;
    }

    #team-img{
        margin-left: 46px;
    }

    #srvc-itm{
        margin-top: 20px;
    }

}


@media screen and (max-width: 769px){
    #srvc-itm{
        margin-top: 20px;
    }
}



/* about section start*/

#about-us{
    padding-bottom: 7%;
}
#padding-ab{
    padding-top: 7%;
}
.ab-us-img{
    padding-top: 40px;
}

#ab-us-ww-heading{
    margin-top: 100px;
}

#ab-us-p{
    font-size: 18px;
}
#ab-us-heading-1{
    margin-top: 100px;
}

#team-img{
    margin-top: 30px;
    height: 350px;
    width: 80%;
}


@media screen and (max-width: 320px){

    /* about sectoin start */
    #ab-us-img{
        padding-right: 45px;
        position: cover;
        object-fit: cover;
    }

    /* About section end */


    /* team section */
    .social i{
        padding-bottom: 40px;
    }
    /* team section end */
}

/* about section end*/




/* team section start */

.team-section{
    padding-bottom: 7%;
}

#padding-team{
    padding-top: 4%;
}
.card{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
}


.img-1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.img-2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}


.card:hover .img-2 img{
    border-color: darkcyan;
    transition: .7s;
}

.main-contant{
    padding: 30px 0;
    text-align: center;
}

.main-contant h2{
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 20px;
}

.main-contant p{
    /* font-size: 16px; */
    padding: 0 35px;
}

.social{
    text-align: center;
    padding-bottom: 20px;
}

.social a{
    text-decoration: none;
}
.social i{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
}

/* Team section end */




/* services section start */

#services-sec{
    background: #fafafa;
    padding-bottom: 7%;
}

#padding-srv{
    padding-top: 7%;
}
.services-section{
    background: #ddd;
    padding: 80px 0;
    padding-top: 7%;
}


#card{
    min-height: 220px;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    transition: .3s;
}



#card i{
    margin: 20px;
    color: #ff5724;
}


#card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}

#card p{
    color: #6c757d;
    text-align: center;
}

#card:hover{
    background: rgba(255,28,8,0.8);
    transform: scale(1.05);
}
#card:hover i{
    background-color: black;
}
#card:hover p{
    color: #fff;
}


#card:hover h2{
    font-weight: 600;
}


/* services section end */










/*Contact section start  */


.form-area {
	padding-top: 7%;
    padding-bottom: 7%;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	background: blueviolet;
	padding: 200px 98px;
}
.left h2{
	font-family: poppins;
	color: #fff;
	font-weight: 700;
	font-size: 48px;
}

.left h2 span{
	font-weight: 100;
}

.single-form{
    background: #fff;
}

.right {
	padding: 70px 100px;
	position: relative;
}

.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}

.form-control {
	border: 2px solid #000;
}

.right button {
	border: none;
	border-radius: 0;
	background: #252525;
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover{
    background-color: #252525;
}

#sub-btn-from:hover{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
    
}

/* contact section end */





/* footer section start */

.footer {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("img/workspace-1.jpg");
    background-size: cover;
    
}



.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
}

    .first h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }

        .first h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

    .first p {
        font-size: 14px;
    }

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

.second h4::after {
        content: '';
        background: #66c83d;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }


.second li {
    list-style: none;
    padding-bottom: 30px;
}

.second a, .second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.second a:hover, .second2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none

    }



.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


.third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }


.third h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }



    .third li {
        list-style: none;
        padding-bottom: 15px;
    }


    .third a {
        color: rgb(206, 206, 206);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }


        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}


@media screen and (max-width:320px){
    .third ul{
        margin-right: 30px;
    }
}

.margin {
    margin-left: 20px;
}

.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}

/* foote section end */ 



